<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div className="commentBox">
      <h1>Comments</h1>
      <div className="commentList">
        <% comments.forEach(function(comment){ %>
        <div className="comment">
          <h2 className="commentAuthor">
            <%= comment.author %>
          </h2>
          <%- comment.text -%>
        </div>
        <% }) %>
      </div>
      <form className="commentForm" action="/" method="post">
        <input type="text" placeholder="Your name" name="author" />
        <input type="text" placeholder="Say something..." name="text" />
        <input type="submit" value="Post" />
      </form>
    </div>
  </body>
</html>
